h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    margin: 1%;
    padding:0;
    border:0;   
 }

 h2,h3{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(230, 117, 117);
    margin:1%;
    padding:0;
    border:0;
 }

 nav{
    align-items: center; 
    justify-content: left;
    width: 30%;
    margin: 0 auto;

}

 p{

     font-size: 90%;
     font-family:Arial, Helvetica, sans-serif;
 }

 #main-header{
    background-color: black;
    
}

.firstname{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0 auto;
}

.email{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0 auto;

}

.confirm-email{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0 auto;

}

.phone-number{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0 auto;

}
